attached_assets/Pasted--name-n8n-Builder-nodes-parameters-options--1750816639968_1750816639969.txt
{
  "name": "n8n Builder",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -500,
        20
      ],
      "id": "864f0d4f-2652-4100-91d2-2aad9eb556d5",
      "name": "When chat message received",
      "webhookId": "d832bc01-555e-4a24-a8cc-31db8fc1c816"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-opus-4-20250514",
          "mode": "list",
          "cachedResultName": "Claude Opus 4"
        },
        "options": {
          "maxTokensToSample": 8000,
          "thinking": true,
          "thinkingBudget": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        180,
        700
      ],
      "id": "997d9c78-8cb1-4dc5-bd26-c6be8df389aa",
      "name": "Claude Opus 4",
      "credentials": {
        "anthropicApi": {
          "id": "FzhOcn5sLnl6NF7Q",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -60,
        480
      ],
      "id": "814b37f2-0939-4032-ae28-b59d4eeb5e59",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User request: {{ $('workwork').item.json.query }}",
        "options": {
          "systemMessage": "=# Overview\nYou are an expert AI automation developer specializing in building workflows for n8n. Your job is to translate a human’s natural language request into a fully functional n8n workflow JSON. It should be comprehensive, functional, and importable. It should have 100% valid JSON structure, node types, and connection methods.\n\n## Output\nYour output should only be the final JSON of the full workflow.\n\nYour output must start with a { and must end with a }.\n- Do not include anything before the { (such as ```json or any markdown formatting).\n- Do not include anything after the } (such as closing code blocks like ``` or explanations).\n\nYour output should be a pure JSON object that begins with { and ends with }, ready to be used as the body of a POST request.\n\nThe JSON must:\n- Be syntactically valid and complete\n- Include a `nodes` array with each node containing all required parameters\n- Include a `connections` object that correctly maps outputs to inputs\n- Start with a `trigger` node if one is required for the use case (e.g., Webhook, Schedule, etc.)\n- Contain descriptive names and parameter values relevant to the user request\n- Avoid placeholders unless no reasonable value can be inferred\n- Contain sticky notes that are explaining what's going on within each step and any credentials or connections that still need to be configured. The colors should vary throughout the workflow.\n\nBefore generating the JSON, analyze the request and:\n1. Break it down into logical automation steps\n2. Choose appropriate nodes based on the steps\n3. Properly connect the nodes to reflect execution order\n\nIf the request is ambiguous, make a best guess using standard automation logic.\n\nDo not return explanations, comments, or any output outside of the JSON markdown block.\n\nYou are expected to produce developer-grade output suitable for direct import into n8n.\n\n## API Submission Requirements\nTo automatically create a workflow using the n8n API, your generated JSON must include the following top-level fields in the final object:\n\n- `name` (string): A clear, descriptive workflow name.\n- `nodes` (array): The complete array of node objects used in the workflow.\n- `connections` (object): A valid map of node-to-node connections.\n- `settings` (object): Workflow-level settings (e.g. `saveManualExecutions`, `executionOrder`).\n- `staticData` (null or object): Set to `null` unless specific static data is needed.\n\nExample “settings” object:\n  \"settings\": {\n    \"executionOrder\": \"v1\",\n    \"saveManualExecutions\": true,\n    \"saveDataSuccessExecution\": \"all\",\n    \"saveExecutionProgress\": true,\n    \"saveDataErrorExecution\": \"all\",\n    \"errorWorkflow\": \"\",\n    \"timezone\": \"America/New_York\"\n  }\n\n## n8n Documentation\n\n{{ $json.data }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        160,
        480
      ],
      "id": "39e4aec5-1017-4cf8-853b-4d0dbbe400e7",
      "name": "n8n Builder",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "content": "# n8n Developer Agent\n",
        "height": 280,
        "width": 660,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -576,
        -100
      ],
      "id": "38b79321-cb5f-42b2-9ebf-dd988107db6b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=# Overview\nYour job is to take the incoming query and pass that to the \"Developer Tool\" tool EXACTLY AS YOU RECEIVED IT. Don't change any of the wording.\n\nOnce you receive a workflow link back from the Developer Tool, present it to the human as a clickable link that says \"View your finished workflow\" \n\nThe link should be clickable and take the user to the workflow.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -248,
        20
      ],
      "id": "0fb217cd-e41a-49fd-8460-4b982e34ccb3",
      "name": "n8n Developer"
    },
    {
      "parameters": {
        "description": "Call this tool once you have a finished workflow design to build the workflow.",
        "workflowId": {
          "__rl": true,
          "value": "8rF4sA4hWpSwcSQt",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -40,
        240
      ],
      "id": "2d817ebd-7abc-4005-8da0-91cb61075baa",
      "name": "Developer Tool"
    },
    {
      "parameters": {
        "content": "## Brain\n",
        "height": 200,
        "width": 320,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -560,
        200
      ],
      "id": "2cc6c97d-3ef8-4cad-a516-3f30b250c59c",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Tool\n",
        "height": 200,
        "width": 320,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -200,
        200
      ],
      "id": "cabe88fd-66a7-43d5-94ee-8f798da3807e",
      "name": "Sticky Note3"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -400,
        260
      ],
      "id": "a3bd651b-7f56-45df-b068-de9aed9e85f0",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "content": "# 🛠️ Setup Guide  \n**Author:** [Nate Herk](https://www.youtube.com/@nateherk)\n\nFollow the steps below to get this workflow up and running:\n\n### MY RECOMMENDATION\nHook up the chat trigger directly to the workflow builder workflow instead of the \"When executed by another workflow\" trigger. This will make testing easier and keep everything in one execution. \n\nIf you want to take the multi-agent approach, then follow the below instructions. \n\n### ✅ Step 1: Connect Your [OpenRouter](https://openrouter.ai/) API Key  \nThis powers the main LLM agent. Make sure your key is active and added via the HTTP Request or Credential node.\n\n### ✅ Step 2: Add Your [Anthropic](https://console.anthropic.com/dashboard) API Key (Optional)  \nIf you want to enable thinking using Claude Opus 4, connect your Anthropic API key.\n\n### ✅ Step 3: Link the Developer Tool  \nMake sure the node or sub-workflow responsible for building the JSON is properly connected to the main agent. The developer tool should return a structured workflow JSON back to the main flow.\n\n### ✅ Step 4: Add Your n8n API Key  \nCreate your **n8n API credential** and connect it in the credential section. This is what allows the agent to spin up new workflows automatically in your instance.\n\n### ✅ Step 5: Copy the [Google Doc](https://docs.google.com/document/d/1TiRusVo4DbbANwAr7I0GUGDZY3pmEmHZy3k66mRxLCg/edit?usp=sharing)  \nMake a copy in your own Google Suite so you can edit, test, and reference it inside the Google Drive node. Then make sure to connect your Google credentials.\n\n### 🧪 Final Step: Start Testing  \nOnce all connections are made, start prompting the agent and watch it build n8n workflows on demand.\n",
        "height": 860,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1300,
        -80
      ],
      "id": "4f690b7f-a0e0-46d7-96ac-93ab2b0091be",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -520,
        260
      ],
      "id": "db914a33-6a19-4752-b96d-292b5d9c1a3a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "HIkseAGipFDil7rW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1ezGwMWhvOk6BZbLNZ0_eQYeqEMCiTekDSmVxY7rksdg",
          "mode": "list",
          "cachedResultName": "n8n Documentation",
          "cachedResultUrl": "https://docs.google.com/document/d/1ezGwMWhvOk6BZbLNZ0_eQYeqEMCiTekDSmVxY7rksdg/edit?usp=drivesdk"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -280,
        480
      ],
      "id": "817c73bb-7843-4a4a-83eb-12dbe6059867",
      "name": "Get n8n Docs",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4uymesgeGGNsFprZ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Workflow Builder\n",
        "height": 440,
        "width": 1540,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -560,
        420
      ],
      "id": "208913b9-389b-40e5-be9d-529fb2f91e98",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -500,
        520
      ],
      "id": "a49024d8-ddf5-4382-b1ad-936927ad243f",
      "name": "workwork"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab073780-d17b-4855-997e-b3a30a26a329",
              "name": "id",
              "value": "=https://romadeveloper.app.n8n.cloud/workflow/{{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        760,
        480
      ],
      "id": "21c07fb5-9232-4864-9002-fb68026f627d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "create",
        "workflowObject": "={{ $json.output[1].text }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        520,
        480
      ],
      "id": "22983a76-e290-4477-91ac-0ec0e9ecf95f",
      "name": "Create a workflow",
      "credentials": {
        "n8nApi": {
          "id": "CnnhSIcXICxz6vyY",
          "name": "n8n account"
        }
      }
    }
  ],
  "pinData": {
    "workwork": [
      {
        "json": {
          "query": "We have an agent named CEO Agent with the role of company CEO. The agent has access to a vector database for context storage and retrieval. \n\nThe agent will accept user prompts and respond with advice based on its insights and tool inputs.\n\nThe agent has integrated access to the following 5 tools:\n\n1. Growth Opportunity Analyzer: Evaluates market trends and user data to suggest growth strategies.\n2. Funding & Investor Pitch Generator: Automatically generates customized pitch decks and funding strategies.\n3. Operational Dashboard: Provides real-time visibility into key business operations metrics.\n4. Decision Matrix Assistant: Supports complex decision-making by analyzing risks, costs, and benefits.\n5. Leadership Effectiveness Tracker: Measures outcomes of strategic leadership decisions.\n\n Design the workflows for the tool 1 and only for tool 1."
        }
      }
    ]
  },
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "n8n Developer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Opus 4": {
      "ai_languageModel": [
        [
          {
            "node": "n8n Builder",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "n8n Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n Builder": {
      "main": [
        [
          {
            "node": "Create a workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Developer Tool": {
      "ai_tool": [
        [
          {
            "node": "n8n Developer",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "n8n Developer",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "n8n Developer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get n8n Docs": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "workwork": {
      "main": [
        [
          {
            "node": "Get n8n Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5ad001f1-1edb-47d7-8919-24fbccd73704",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9397da5cd2a0f7613d20df414cb2c5a92e1627b6bbedf1b322b0a046e1b57940"
  },
  "id": "8rF4sA4hWpSwcSQt",
  "tags": []
}
